name: template-project

services:
  db:
    image: postgres:18-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-myuser}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-mypassword}
      POSTGRES_DB: ${POSTGRES_DB:-mydatabase}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_IMPORT: /opt/keycloak/data/import/

      KC_HTTP_ENABLED: true
      KC_HOSTNAME: localhost

    command: start --import-realm

    ports:
      - "8080:8080"

    volumes:
      - ../keycloak/conf/keycloak.conf:/opt/keycloak/conf/keycloak.conf:ro
      - ../keycloak/themes:/opt/keycloak/themes:ro
      - ../keycloak/imports:/opt/keycloak/data/import:ro

volumes:
  db_data:
