name: SecureLearning-dev

services:
  db:
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ../db/init-dbs.sql:/docker-entrypoint-initdb.d/init-dbs.sql

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  mongo:
    image: mongo:4.4.6
    container_name: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DB}
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
      - ../mongo/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    healthcheck:
      test:
        [
          "CMD",
          "mongo",
          "--quiet",
          "-u",
          "${MONGO_ROOT_USER}",
          "-p",
          "${MONGO_ROOT_PASSWORD}",
          "--authenticationDatabase",
          "admin",
          "--eval",
          "db.adminCommand('ping')",
        ]
      interval: 10s
      timeout: 5s
      retries: 5

  rabbitmq:
    build:
      context: ../rabbitmq
      dockerfile: Dockerfile
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
      RABBITMQ_API_USER: ${RABBITMQ_API_USER}
      RABBITMQ_API_PASS: ${RABBITMQ_API_PASS}
      RABBITMQ_SMTP_USER: ${RABBITMQ_SMTP_USER}
      RABBITMQ_SMTP_PASS: ${RABBITMQ_SMTP_PASS}
      RABBITMQ_QUEUE: ${RABBITMQ_QUEUE}
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  smtp:
    build:
      context: ../smtp
      dockerfile: Dockerfile
    container_name: smtp
    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_USER: ${RABBITMQ_SMTP_USER}
      RABBITMQ_PASS: ${RABBITMQ_SMTP_PASS}
      RABBITMQ_QUEUE: ${RABBITMQ_QUEUE}
      RATE_LIMITER_MAX_REQUESTS: ${RATE_LIMITER_MAX_REQUESTS}
      RATE_LIMITER_TIME_WINDOW_SECONDS: ${RATE_LIMITER_TIME_WINDOW_SECONDS}
      API_INTERNAL_URL: ${API_INTERNAL_URL}
      API_URL: ${API_URL}
    depends_on:
      rabbitmq:
        condition: service_healthy

  keycloak:
    image: quay.io/keycloak/keycloak:26.4
    command: start-dev --import-realm --health-enabled=true
    container_name: keycloak
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_IMPORT: /opt/keycloak/data/import/
      KC_HTTP_ACCESS_LOG_ENABLED: "true"
      KC_LOG_CATEGORY_ORG_KEYCLOAK_AUTHORIZATION: DEBUG
      KC_LOG_CATEGORY_ORG_KEYCLOAK_SERVICES: DEBUG
      KC_LOG_CATEGORY_ORG_KEYCLOAK_PROTOCOL_OIDC: DEBUG
      KC_LOG_CATEGORY_IO_QUARKUS_HTTP: DEBUG
      KC_LOG_LEVEL: DEBUG
      KC_SPI_USER_PROVIDER_JPA_CASE_SENSITIVE: "true"
      KC_HTTP_ENABLED: true
      KC_HOSTNAME: localhost
      KC_DB: postgres
      QUARKUS_SMALLRYE_HEALTH_ENABLED: "true"
      QUARKUS_SMALLRYE_HEALTH_ROOT_PATH: "/health"
      KC_DB_URL: jdbc:postgresql://db:5432/keycloak
      KC_DB_USERNAME: ${POSTGRES_USER}
      KC_DB_PASSWORD: ${POSTGRES_PASSWORD}
      CLIENT_SECRET: ${CLIENT_SECRET}
      WEB_URL: ${WEB_URL}
      API_URL: ${API_URL}

    healthcheck:
      test:
        [
          "CMD-SHELL",
          "exec 3<>/dev/tcp/127.0.0.1/9000; echo -e 'GET /health/ready HTTP/1.1\\r\\nHost: localhost:8080\\r\\nConnection: close\\r\\n\\r\\n' >&3;cat <&3 | grep -q '\"status\": \"UP\"' && exit 0 || exit 1",
        ]
      interval: 30s
      timeout: 10s
      retries: 3

    ports:
      - "8080:8080"

    depends_on:
      db:
        condition: service_healthy

    volumes:
      - ../keycloak/conf/keycloak.conf:/opt/keycloak/conf/keycloak.conf:ro
      - ../keycloak/themes:/opt/keycloak/themes:ro
      - ../keycloak/imports:/opt/keycloak/data/import:ro
      - ../keycloak/providers:/opt/keycloak/providers:ro

  api:
    build:
      context: ../api
      dockerfile: Dockerfile.dev
    container_name: api
    environment:
      POSTGRES_SERVER: db
      POSTGRES_PORT: 5432
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      KEYCLOAK_URL: ${KEYCLOAK_INTERNAL_URL}
      CLIENT_SECRET: ${CLIENT_SECRET}
      MONGODB_URI: mongodb://${MONGO_USER}:${MONGO_PASSWORD}@mongo:27017/${MONGO_DB}?authSource=${MONGO_DB}
      MONGODB_DB: securelearning
      MONGODB_COLLECTION_TEMPLATES: templates
      WEB_URL: ${WEB_URL}
      API_URL: ${API_URL}
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_USER: ${RABBITMQ_API_USER}
      RABBITMQ_PASS: ${RABBITMQ_API_PASS}
      RABBITMQ_QUEUE: ${RABBITMQ_QUEUE}
    ports:
      - "8000:8000"
    volumes:
      - ../api/src:/app/src:ro
    healthcheck:
      test: ["CMD", "curl", "-sf", "http://localhost:8000/health"]
      interval: 15s
      timeout: 10s
      retries: 5
      start_period: 30s
    depends_on:
      db:
        condition: service_healthy
      keycloak:
        condition: service_healthy
      mongo:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  frontend:
    build:
      context: ../web
      dockerfile: Dockerfile.dev
    container_name: frontend
    environment:
      VITE_API_URL: ${API_URL}/api
      VITE_KEYCLOAK_URL: ${KEYCLOAK_URL}
    ports:
      - "5173:5173"
    volumes:
      - ../web/src:/app/src:ro
      - ../web/public:/app/public:ro
    depends_on:
      api:
        condition: service_healthy

volumes:
  db_data:
  rabbitmq_data:
  mongo_data:
