<!DOCTYPE html>
<html lang="pt">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>

    <div>
        <div class="x_navbar">
            <div class="x_container-fluid x_p-0">
                <a target="_blank" href="${{redirect}}">43675-PEI</a> »
                <a target="_blank" href="${{redirect}}">Avaliação</a>
            </div>
        </div>
        <table border="0" cellpadding="3" cellspacing="0" class="x_forumpost">
            <tbody>
                <tr class="x_header">
                    <td width="35" valign="top" class="x_picture x_left">
                        <a href="${{redirect}}" class="x_d-inline-block x_aabtn">
                            <span class="x_userinitials x_size-35" title="JOÃO RAFAEL ALMEIDA (Docente)"
                                aria-label="JOÃO RAFAEL ALMEIDA (Docente)" role="img"></span>
                        </a>
                    </td>
                    <td class="x_topic x_starter">
                        <div class="x_subject">Notas do teste teórico e do primeiro milestone</div>
                        <div class="x_author">by
                            <a target="_blank" href="${{redirect}}">JOÃO RAFAEL ALMEIDA (Docente)</a> - Tuesday,
                            16 December 2024, 9:19 AM
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="x_left x_side" valign="top">&nbsp;</td>
                    <td class="x_content">
                        <p><span lang="pt">Caros Alunos</span></p>
                        <p><span lang="pt">A nota do teste teórico e as notas do primeiro milestone foram colocadas no
                                e-learning.</span></p>
                        <p><span lang="pt">Bom Natal!</span></p>
                        <p><span lang="pt">João Rafael Almeida</span></p>
                        <div class="x_commands"></div>
                        <div class="x_link">
                            <a target="_blank" href="${{redirect}}">See this post in context</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
        <div class="x_mdl-align x_unsubscribelink">
            <a href="${{redirect}}">Change your forum digest preferences</a>
        </div>
        <p>Are you reading this in an email?
            <a href="${{redirect}}">Download the mobile app and receive notifications on your mobile device</a>.
        </p>
    </div>

    ${{ pixel }}
</body>

</html>