# Version control
.git
.gitignore

# Python artifacts
__pycache__
*.pyc
*.pyo

# Environment files
.env
.env.*
.venv

# IDE
.vscode
.idea

# Build artifacts
dist/
build/
*.egg-info/

# Docs
README.md
*.md
