RABBITMQ_HOST=rabbitmq
RABBITMQ_USER=smtp_consumer
RABBITMQ_PASS=smtp_consumer_pass
RABBITMQ_QUEUE=email_queue

RATE_LIMITER_MAX_REQUESTS=10
RATE_LIMITER_TIME_WINDOW_SECONDS=6

API_URL=http://localhost:8000
