POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=mydatabase
CLIENT_SECRET="MbV2B0dwJfvdfvYyeYjcay7EuT5kid2C"
KEYCLOAK_URL="http://keycloak:8080/kc"
KEYCLOAK_ISSUER_URL="https://mednat.ieeta.pt:9071/kc"
MONGODB_URI="mongodb://template_user:template_pass@mongo:27017/securelearning?authSource=securelearning"
MONGODB_DB="securelearning"
MONGODB_COLLECTION_TEMPLATES="templates"
FILE_STORAGE_BACKEND="garage"
GARAGE_S3_ENDPOINT="http://localhost:3900"
GARAGE_S3_PUBLIC_ENDPOINT="http://localhost:3900"
GARAGE_S3_REGION="garage"
GARAGE_ACCESS_KEY_ID="garage-access-key"
GARAGE_SECRET_ACCESS_KEY="garage-secret-key"
GARAGE_FORCE_PATH_STYLE="true"
GARAGE_BUCKET_CONTENT="securelearning-content"
GARAGE_BUCKET_LOGOS="securelearning-logos"
GARAGE_CONTENT_PREFIX="content"
GARAGE_LOGOS_PREFIX="logos"
