name: "CD-workflow"

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: [self-hosted, linux, x64]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f

      - name: Create .env files from .env.example
        run: |
          bash scripts/copy-env-examples.sh

      - name: Rebuild and redeploy stack
        env:
          DOCKER_BUILDKIT: 1
        run: |
          docker compose --env-file deployment/.env -f deployment/docker-compose.yml down --remove-orphans
          docker compose --env-file deployment/.env -f deployment/docker-compose.yml up -d --build
